.advantages__wrapper {
  text-align: center;
  padding: 20px;
}

.advantages__badge {
  margin-top: 30px;
}

.advantages__title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 36px;
}

.advantages__list {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.advantages__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 40;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}

.advantages__image {
  margin-bottom: 5px;
}

.advantages__text-container {
  @media (min-width: $tablet) {
    text-align: start;
  }
}

.advantages-item__title {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
}

.advantages__text {
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
}
