.contacts {
  position: relative;
  // padding: 20px;

  &__address {
    display: flex;
    flex-direction: row;
  }

  &__telephone {
    display: flex;
    flex-direction: row;
  }
}

.contacts-address__icon {
  &::after {
    content: '';
    left: 0;
    width: 20px;
    height: 16px;
    display: block;
    background: $violet-color;
    mask-image: url('../../icons/address.svg');
  }
}

.contacts-telephone__icon {
  &::after {
    content: '';
    left: 0;
    width: 20px;
    height: 16px;
    display: block;
    background: $violet-color;
    mask-image: url('../../icons/phone.svg');
  }
}
