.example-products__item:nth-child(1) {
  background-color: #f3ebe1;
}

.example-products__item:nth-child(2) {
  background-color: #eae6fc;
}

.example-products__item:nth-child(3) {
  background-color: #e5e6e8;
}
