.page-footer__logo {
  vertical-align: middle;
}

.page-footer__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 1fr 70px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    grid-template-rows: 1fr 50px;
  }
}

.footer__title {
  color: $violet-color;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding-top: 1px;
}

.page-foter__list {
  margin-bottom: 9px;
}

.page-foter__item {
  margin-top: 18px;
}

.page-foter__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.page-footer__developer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  @media (min-width: $tablet) {
    grid-row: 3/4;
    grid-column: 1/4;
  }

  @media (min-width: $desktop) {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}

.footer__section {
  position: relative;
  padding: 20px;
  @media (max-width: calc($tablet - 1px)) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      border-bottom: 1px #f0ebff solid;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    &:nth-child(2) {
      padding-left: 20px;
    }

    &:nth-child(3) {
      margin: 0 17px;
    }

    &:nth-child(4) {
      padding-left: 13px;
      padding-right: 20px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 48px;
  }
}

.developer__image {
  &::before {
    content: '';
    width: 20px;
    height: 16px;
    display: block;
    background: #bdbdbd;
    mask-image: url('../../icons/logo-developer.svg');
  }
}
