.page-header__nav {
  display: grid;
  width: 320px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: repeat(5, 1fr);
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px 20px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.user-list {
  grid-column: 2;

  display: flex;
  flex-direction: row;
}

.user-list__login {
  display: block;
  width: 60px;
  height: 60px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/login.svg");
  border: none;
}

.user-list__cart {
  display: block;
  width: 60px;
  height: 60px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/cart.svg");
  border: none;
}

.page-header__toggle {
  width: 60px;
  height: 60px;

  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/burger.svg");
  border: none;

  &--open {
    background-image: url("/images/close.svg");
  }
}

.site-menu {
  grid-column: 1/3;
  grid-row: 2/6;
  box-sizing: border-box;
  margin: 0;
  display: none;
  grid-template-columns: 1fr;
  position: absolute;
  top: 60px;
  left: 0;

  &--visible {
    display: grid;
    z-index: 100;
  }
}

.site-menu__item {
  position: relative; /* Для позиционирования псевдоэлементов */
  min-width: 100vw; /* Фиксированная ширина для центрирования */
  height: 60px;
  margin: 0 auto; /* Центрируем элементы */
  background-color: #ffffff;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; /* Растягиваем на всю ширину экрана */
    height: 1px;
    background-color: #f0ebff;
  }

  &:before {
    top: 0; /* Верхний бордер */
  }

  &:last-child:after {
    bottom: -1px; /* Нижний бордер для последнего элемента */
  }
}

.site-menu__link {
  font-size: 12px;
  font-weight: 500;

  letter-spacing: 0;
  display: flex;
  justify-content: center; // Горизонтальное выравнивание по центру
  align-items: center; // Вертикальное выравнивание по центру
  width: 100%; // Занимает всю ширину родительского элемента
  height: 100%;
}
