.site-menu {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  &--footer {
    position: relative;
    // padding: 20;
  }
}

.site-menu {
  display: none;
  @media (max-width: calc($tablet - 1px)) {
    grid-column: 1/3;
    grid-row: 2/6;
    box-sizing: border-box;
    margin: 0;
    display: none;
    grid-template-columns: 1fr;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
  }

  &--visible {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Вертикальное расположение элементов */
    z-index: 100;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    gap: 20px;
  }
}

.site-menu__item {
  @media (max-width: calc($tablet - 1px)) {
    width: 100%; /* Занимаем всю ширину контейнера */
    height: 60px;
    background-color: #ffffff;
    text-align: center; /* Центрируем текст внутри элемента */

    &:before,
    &:after {
      content: '';
      position: absolute;
      transform: translateX(-50%);
      width: 100%; /* Растягиваем на всю ширину экрана */
      height: 1px;
      background-color: #f0ebff;
    }

    &:before {
      top: 0; /* Верхний бордер */
    }

    &:last-child:after {
      bottom: -1px; /* Нижний бордер для последнего элемента */
    }
  }

  @media (min-width: $tablet) {
    &--active {
      border-bottom: 2px $violet-color solid;
    }
  }

  // margin-left: 3px;
}

.site-menu__link {
  font-size: 12px;
  font-weight: 500;
  // line-height: 16px;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center; // Горизонтальное выравнивание по центру
  align-items: center; // Вертикальное выравнивание по центру
  width: 100%; // Занимает всю ширину родительского элемента
  height: 100%;

  @media (min-width: $tablet) {
    padding: 32px 20px;

    &--active {
      color: $violet-color;
    }
  }
}
