.socials {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: 20 20px;
  position: relative;
}

.socials__list {
  display: flex;
  flex-direction: row;
}

.socials__item {
  margin: 0 20px;

  &:last-child {
    margin-right: 0;
  }
}
