.swiper {
  width: 100vw;
  min-width: 320px;
  & [class^='swiper-button-']::after {
    font-size: 19px;
    color: $violet-color;
  }

  & [class^='swiper-button-'] {
    bottom: 50%;

    @media (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      top: calc(640px / 2);
    }
  }

  & [class^='swiper-button-prev'] {
    left: -3;

    @media (min-width: $tablet) {
      left: 7;
    }
  }

  & [class^='swiper-button-next'] {
    right: -3;

    @media (min-width: $tablet) {
      right: 7;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  border: none;
  background-color: transparent;
}

.swiper-button-prev {
  @media (min-width: $tablet) {
    margin-left: 20px;
  }
}

.swiper-button-next {
  @media (min-width: $tablet) {
    margin-right: 20px;
  }
}

.swiper-pagination {
  position: absolute;
  display: none;
  text-align: center;

  .swiper-pagination-bullet {
    width: 60px; /* Увеличьте ширину для создания полосочек */
    height: 4px; /* Уменьшите высоту */
    background-color: #ffffff;
    opacity: 1;
    transition: background-color 0.5s ease;
    border-radius: 0; /* Уберите закругленные углы */
    transform: translateY(-58px);

    &-active {
      background-color: $violet-color;
    }
  }

  @media (min-width: $desktop) {
    display: block;
  }
}
