.wrapper {
  width: 100%; // Занимает всю ширину на маленьких экранах
  max-width: 320px; // Фиксированная ширина для маленьких экранов
  min-width: 320px;
  margin: 0 auto; // Центрирование содержимого

  @media (min-width: $tablet) {
    max-width: $tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
  }
}
